* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    padding-left: 10%;
    padding-right: 10%;
}

header {
  background-image: url(../img/design1_image1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 70% 100%;
  background-position: center;
  height: 300px;
}

h1{
  font-size: 45px;
}

#contenido {
  display: inline;
}

aside{
  width:20%;
  display:inline;
  vertical-align: top;
}

nav {
  display: inline-block;
  width: 25%;
  padding-left: 30px;
  margin-top: 30px;
}

nav > a {
  color:blue;
  display: block;
  margin-bottom: 40px;
}

nav > .actual{
    text-decoration: none;
    color: black;
}


#titulo {
  text-align: center;
  color: white;
  background-color: black;
  height: 40px;
  padding-top: 5px;
  width: 100%;
}

h3 {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  font-size: 25px;
}

img {
  margin-right: 10px;
  position: relative;
  left: 500px;
  bottom: 60px;
  height: 150px;
  width: 150px;
}

.section {
  width: 70%;
  display: inline-block;
    padding-top: 30px;
}

article {
  margin-bottom: 20px;
  width: 70%;
}

h4 {
  font-style: italic;
  display:block;
  font-size: 20px;
  margin-bottom: 10px;
}
h4.about {
  font-style:normal;
  font-weight: bold;
  display:block;
  font-size: 20px;
  margin-bottom: 10px;
}
p {
  text-indent: 30px;
}

#contacto > p {
  margin-bottom: 20px;
}

.diseno2 {
  display: none;
}