/* ----General ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/*----------------- Header-----------------*/

#might {
  background-color: black;
  display: flex;
  align-items: center;
  height: 100px;
}

#logo {
  flex-shrink: 0;
  width: 150px;
  flex-shrink: 0;
}

h1 {
  font-size: 45px;
  text-align: center;
  color: yellow;
  flex-grow: 1;
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
}

nav > a {
  color: blue;
  color: white;
  background-color: blue;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 5px 3px gray;
}

nav > .actual {
  text-decoration: none;
  background-color: green;
}

#header2 {
  background-image: url(../img/design2_image1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  border: 1px solid black;
  height: 300px;
  text-align: right;
  display: block;
}
/*--------------Titulo----------------*/
#titulo {
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

h3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
}

h3#sub {
  font-size: 15px;
  text-decoration: underline;
  border: 1px red dashed;
}

/*-----------------Contenido---------------*/
#contenido {
  display: flex;
  align-content: space-around;
}

/*-----------Lateral--------------*/
aside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#imagenaside {
  height: 240px;
  width: 240px;
  justify-content: center;
  align-items: center;
}

/*----------------Central-----------------*/
.section {
  width: 100%;
  display: flex;
  padding-top: 30px;
  margin-left: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  margin-bottom: 20px;
  width: 70%;
}

h4 {
  font-style: italic;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  
}

h4.about {
  text-indent: 30px;
  font-style: normal;
  font-weight: bold;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

p.indent {
  text-indent: 30px;
}

#contacto {
  margin-top: 20px;
}

#contacto > p {
  margin-bottom: 30px;
}

#datos {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

#datos > p {
  margin-bottom: 10px;
}

.minfoot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* ---------------LISTAS-------------- */
ol.k {
  list-style-type: lower-alpha;
}

ul.circle {
  list-style-type: circle;
  margin-left: 20px;
  padding-left: 20px;
}

li.indent {
  margin-left: 20px;
}

li > p {
  margin-left: -20px;
}

dd {
  display: block;
  margin-bottom: 1em;
}

dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

dt:first-of-type {
  margin-top: -20px;
}
dt {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ------------------TABLA-------------------- */
table {
  width: 75%;
  justify-content: center;
  text-align: center;
  border-collapse: collapse;
}

caption{
  color: red;
  padding-bottom: 10px;
}
td,
th {
  padding: 8px;
  border-bottom: 1px solid black;
}

th {
  background-color: darkolivegreen;
  color: whitesmoke;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
